= semantic_form_for @job do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :stations_capacity,         input_html: { value: 1000 }
    = f.input :regions_subscribers_count, input_html: { value: 300 }

  = f.actions do
    = f.action :submit, :as => :input
