%h1
  =Job.model_name.human count: 2

%table
  %tr
    %th 
      = Job.human_attribute_name :name
    %th
      = Job.human_attribute_name :description
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.name
      %td= job.description
      %td= link_to t('jobs.actions.show'), job
      %td= link_to t('jobs.actions.edit'), edit_job_path(job)
      %td= link_to t('jobs.actions.destroy'), job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to t('jobs.actions.new'), new_job_path
