-content_for :nav_menu do
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        = Region.model_name.human
        %b.caret
      %ul.dropdown-menu
        %li
          %a.add_region
            = t('region.actions.add')
        %li
          %a{'data-toggle' => 'modal',  'data-target' => '#region-edit'}
            = t('region.actions.create')
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Станции
        %b.caret
      %ul.dropdown-menu
        %li
          %a.dotting
            Расставить автоматически
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Алгоритмы
        %b.caret
      %ul.dropdown-menu
        %li
          %a.build_routes
            Соеденить каждую станцию с каждой. Полный граф
        %li
          %a.buld_hamilton
            Гамильтонов путь
        %li
          %a.build_mst
            Найти минимальный остов

    %li
      =link_to t('recal'), @job
    %li
      =link_to 'Все задания', jobs_path


%p#notice= notice
.row
  .col-md-12
    #map

.modal.fade#region-edit
  .modal-dialog
    .modal-content
      .modal-header
        Создать район
      .modal-body
        %lable.label
          Количество абонентов
        %input#subscribers_count
      .modal-footer
        %button.btn.btn-default.create_region
          Создать

= javascript_include_tag  "jobs", "data-turbolinks-track" => false
