-content_for :nav_menu do
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        = Region.model_name.human
        %b.caret
      %ul.dropdown-menu
        %li
          %a.add_region
            = t('region.actions.add')
        %li
          %a.stop
            = t('region.actions.create')
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Станции
        %b.caret
      %ul.dropdown-menu
        %li
          %a.dotting
            Расставить автоматически
    %li.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        Маршруты
        %b.caret
      %ul.dropdown-menu
        %li
          %a.build_routes
            Полный граф
        %li
          %a.buld_hamilton
            Гамильтонов путь
        %li
          %a.build_mst
            Найти минимальный остов

    %li
      =link_to t('recal'), @job
    %li
      =link_to 'Все задания', jobs_path


%p#notice= notice
.row
  .col-md-12
    #map

= javascript_include_tag  "jobs", "data-turbolinks-track" => false
